In [1]:
input(prompt="Apna Naam Bta")

Apna Naam Bta ritik

'ritik'

first_no=input("Enter first NO ")
second_no=input("Enter second no")

In [9]:
sum = first_no + second_no
print(sum)

5678

In [10]:
type(first_no)

str

In [8]:
# we are getting that output because input is always taken as string

## TypeCasting

In [13]:
# typecasting is the process of changing one dtypes into other
# implicit->python khud se kar dega type conversion bina btaye user ke
4+5.5

9.5

In [16]:
# explicit-> user ko btana padega type conversion ke lie
int('67')

67

In [18]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

In [20]:
first_no=input("Enter first NO ")
second_no=input("Enter second no")
sum = int(first_no) + int(second_no)
print(sum)

Enter first NO  34
Enter second no 45

79

In [21]:
first_no=int(input("Enter first NO "))
second_no=int(input("Enter second no"))
sum = first_no + second_no
print(sum)

Enter first NO  34
Enter second no 56

90